#card1 .card {
    background-color: #2b2c2c;
    width: 450px;
}

#card2 .card {
    background-color: #2b2c2c;
    width: 450px;
}

#card3 .card {
    background-color: #2b2c2c;
    width: 450px;
}

.card .card-body {
    padding: 9px 14px;
}
.sub-text {
    color: #7e7e7f;
    margin-top: -1rem;
}
#date {
    font-size: 12px;
}
.image-profile img {
    border-radius: 100%;
    width: 63.7px;
    height: 63.49px;
    filter: drop-shadow(7px 3px 0px orange)
}
.pl-3 {
    padding-left: 22px;
}

.card .text-orange {
    color: #FFB548;;
}

.card .card-text {
    color: white;
    font-size: 14px;
}

@media screen and (min-width: 320px) {  
    .image-profile img {
        width: 25.7px;
        height: 25.49px;
    }
    .col-sm-10 {
        margin-right: 7px;
    }
    #date {
        font-size: 8px;
    }
    .card {
        margin-right: 28px;
        width: 250px;
    }
    .card-body .sub-text {
        font-size: 12px;
    }
    .card-body .card-text {
        font-size: 10px;
    }
    .card-body .text-orange {
        font-size: 12px;
    }
    #card1 .card {
        width: 250px;
    }
    #card2 .card {
        width: 250px;
    }
    #card3 .card {
        width: 250px;
    }
    .card .card-body {
        padding-bottom: 0rem;
    }
    .card .pl-3 {
        margin-bottom: -1rem;
    }
}

@media screen and (min-width: 375px) {
    #card1 .card {
        width: 300px;
    }
    #card2 .card {
        width: 300px;
    }
    #card3 .card {
        width: 300px;
    }
}

@media screen and (min-width: 1040px) {
    .card .card-body {
        padding: 9px 14px;
    }
    .sub-text {
        color: #7e7e7f;
        margin-top: -1rem;
    }
    #date {
        font-size: 12px;
    }
    .image-profile img {
        border-radius: 100%;
        width: 63.7px;
        height: 63.49px;
        filter: drop-shadow(7px 3px 0px orange)
    }
    .pl-3 {
        padding-left: 22px;
    }
    
    .card .text-orange {
        color: #FFB548;;
    }   
    .card .card-text {
        color: white;
        font-size: 14px;
    }
    #card1 .card {
        background-color: #2b2c2c;
        width: 450px;
    }
    
    #card2 .card {
        background-color: #2b2c2c;
        width: 450px;
    }
    
    #card3 .card {
        background-color: #2b2c2c;
        width: 450px;
    }
}

