.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

table td {
	border: 1px solid grey;
	width: 100px;
	height: 100px;
    justify-content: center;
    text-align: center;
}
