#body-GameMatchingImage{
    background-color: #123;
    padding: 20px;
    height: 100vh;
}
.board{
    width: calc(100vh - 240px);
    max-width: calc(100vw - 40px);
    display:grid;
    grid-gap:10px;
    margin: auto;
    grid-template-columns: repeat(6, 1fr);
}
.card-outer{
    perspective:1000px;
    height: calc(16.66667vh - 48.33333px);
    max-height: calc((100vw - 90px) / 6);
    width: 70px;
}
.card-matching{
    border-radius: 5px;
    position: relative;
    height: 100%;
    transform:rotateY(180deg);
    transform-style: preserve-3d;
    transition: all 0.3s;
}
.card-matching .front, .card-matching .back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.card-matching .front img{
    display: block;
    max-width: 100%;
    width: 70px;
    height: 70px;
}
.card-matching .back{
    background-color: #468;
    transform:rotateY(180deg);
}
.card-outer.flipped .card-matching{
    transform:rotateY(0);
}


.stats{
    width: 400px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    padding: 20px 0;
    font-size: 2rem;
}