:root {
    --primary: #ff6b6b;
    --primary-dark: #ff9f43;
    --primary-light: #feca57;
    --primary-text: #ffffff;
}



#choose{
    padding-top: 60px;
    min-height: 80vh;
}

#choose h3{
    color: var(--primary-text);
    text-align: center;
}

#result{

    min-height: 80vh;
}

#scoreCard{

    min-height: 80vh;
}

#game{
    
    min-height: 80vh;
}



.round-btn{
    display: flex;
    flex-direction: column;
    margin: 20px 0px 20px 150px;
    padding: 50px;
    width: 200px;
    height: 200px;
    justify-content: center;
    background-color: var(--primary-dark);
    color: var(--primary-text);
}

.round-btn:hover {
    background-color: var(--primary-light);
}

.resultGame{
    justify-content: center;
}


.textWin{
    text-align: center;
    background-color: var(--primary-light);
    margin-top: 300px;
    padding: 50px;
    border-radius: 20px;
    color: var(--primary-text);
}

.action{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    color: var(--primary-text);
    background-color: var(--primary-light);
    
}


.player {
    border: 2px solid black;
    width: 200px;
    margin: 100px 0px 0px 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    
    }  

.player p{
    font-size: 20px;
    padding-left: 10px;
}

.vs{
    text-align: center;
    margin-top: 50px;
    font-size: 80px;
    color: var(--primary-text);
    font-weight: 400;
}
.score {
    padding: 1px;
    font-size: small;
    font-weight: bold;
    background-color: var(--primary-dark);
    color: var(--primary-text);
    }

.suit{
    background-color: var(--primary);
    height: 100vh;
}

.resetButton{
    width: 200px;
    text-align: center;
    margin: 50px 0px 0px 200px;
    background-color: #feca57;
    border: none;
    border-radius: 20px;
    color: var(--primary-text);
    font-size: 20px;
    font-weight: 500;
}

.resetButton:hover{
    background-color: var(--primary-light);
}