#navigation {
    overflow-x: hidden;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 16.34px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    letter-spacing: 0.1em;
    width: 100%;
    padding: 17px 3rem;
}

.navbar-collapse {
    margin-left: 5rem;
    font-weight: 500;
}

.nav-link {
    margin-left: 1rem;
}


@media screen and (min-width: 1024px) {
    .nav-right {
        margin-left: 14rem;
    }
}


@media screen and (min-width: 1200px) {
    .nav-right {
        margin-left: 28rem;
    }
}

@media screen and (min-width: 1440px) {
    #navigation {
        padding: 17px 5rem;
    }
    .navbar-collapse {
        margin-left: 9rem;
    }
    .nav-right {
        margin-left: 32rem;
    }
}