@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

.mainbackground {
  min-height: 100vh;
  background-color: rgb(255, 214, 30);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
}

.sections {
  font-family: "Nunito", sans-serif;
  width: 100%;
  max-width: 600px;
  min-height: 400px;
  display: flex;
  color: #fff;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.863);
}

.forms {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

a,
a:visited {
  color: #fff;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
  font-size: 20px;
}

button {
  padding: 0.5rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: rgb(212, 11, 11);
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}
